<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AirLine</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ act.activity_name }}</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="#">Map</a>
                <a class="nav-link" href="http://twitter.com/{{act.user.twitter_name}}">Contact to @{{ act.user.twitter_name }}</a>
              </nav>
              <p>Created By <a href="https://twitter.com/vourja">@vourja</a></p>
            </div>
          </div>
          <div class="inner cover">
            <p>あなたの番号は <span class="your-number">{{ line.number }}</span> 番です</p>
            <img src="/line/qr?i={{ line.uuid }}">
            <small>
              <p>このQRコードはお店の人に言われたら見せてください。</p>
            </small>
            <p class="lead">
              <a href="#" class="btn btn-link">やっぱりやめます</a>
              <a href="#" class="btn btn-lg btn-primary">到着しました</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
